<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">
    <h1>About</h1>
    <p class="lead">This application uses NodeJS, Express, Passport, MongoDB and Bootstrap</p>
    <div>
        <h4>Node JS:</h4>
        <p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, 
            non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, 
            is the largest ecosystem of open source libraries in the world.</p>
        <p><a href="https://nodejs.org/en/">Node JS Site</a></p>
    </div>
    
    <br>
    <div>
        <h4>Express JS:</h4>
        <p>Fast, unopinionated, minimalist web framework for Node.js</p>
        <p><a href="https://expressjs.com/">Express JS Site</a></p>
    </div>

    <br>
    <div>
        <h4>Passport:</h4>
        <p>Passport is authentication middleware for Node.js. Extremely flexible and modular, 
            Passport can be unobtrusively dropped in to any Express-based web application. 
            A comprehensive set of strategies support authentication using a username and password, 
            Facebook, Twitter, and more.</p>
        <p><a href="http://passportjs.org/">Passport Site</a></p>
    </div>

    <br>
    <div>
        <h4>MongoDB:</h4>
        <p>Designed to support every stage of your application, MongoDB Atlas is the easiest way to take advantage 
            of the fastest-growing database.</p>
        <p><a href="https://www.mongodb.com/">MongoDB Site</a></p>
    </div>

    <br>
    <div>
        <h4>Bootstrap:</h4>
        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, 
            mobile first projects on the web.</p>
        <p><a href="http://getbootstrap.com/">Bootstrap Site</a></p>
    </div>

</div><!-- /.container -->

<% include ./partials/footer %>