<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

      <div class="starter-template">
        <h1>Simple Node JS Authentication App</h1>
        <p class="lead">This app uses Node JS, MongoDB, Express JS, Bootstrap, Mongoose. 
          This is created to learn Node JS Programming fundamentals.</p>
        <p>Also, uses sample Bootstrap web pages and styles in some pages.</p>
      </div>

    </div><!-- /.container -->

<% include ./partials/footer %>